* {
    margin: 0;
    padding: 0;
    border: 0;
}
ul,
ol,
dl {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

input[type='text'],input[type='password'],
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    transition: all .3s ease-out;
}

input[type='text']:focus,
input[type='text']:hover,
input[type='password']:focus,
input[type='password']:hover,
textarea:focus,
textarea:hover {
    border: 1px solid #1c77c9;
    box-shadow: 0 0 3px #1c77c9;
}

input[type='text'].errorStatus,input[type='password'].errorStatus,
textarea.errorStatus {
    border: 1px solid #f27b7b;
    background: #fce8e8;
}

.btn_wrap {
    box-sizing: border-box;
    padding: 0 15px;
}

.btn {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    line-height: 32px;
    background: #ddd;
    color: #666;
    font-size: 14px;
    text-align: center;
    transition:all .3s linear;
}
.btn:active{
    background:#ccc;
    color:#333;
}
.btn.btn_primary{
    background:#1c77c9;
    color:#fff;
    font-size:14px;
}
.btn.btn_primary:active{
    background:#004c91;
}

.form {
    padding: 15px 0;
}

.form_control {
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.error {
    display: none;
    border: 1px solid #ddd;
    background: #f5f5f5;
    margin: 15px;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #666;
    font-size: 12px;
}

.error_warning {
    background: #feadad;
    color: #9f0e0e;
    border: 1px solid #f27b7b;
}
.right_top{
    position: absolute; top:0; right: 15px; z-index: 1000; display: none;
}
#wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#wrap #content {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
}

#wrap #header {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 2px 4px #ccc;
}

#wrap #header h2 {
    font-size: 20px;
}

#wrap #footer {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 -2px 4px #666;
}

#wrap #footer .footer .inner {
    display: flex;
    background: #000;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 50px;
    line-height: 50px;
}

#wrap #footer .footer .inner a {
    flex-grow: 4;
    text-align: center;
    color: #fff;
    border-right: 1px solid #ccc;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

#wrap #footer .footer .inner a:active {
    background: #fff;
    color: #000;
}

#wrap #footer .footer .inner a:last-child {
    border-right: none;
}

.information {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.information ul li {
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 15px;
}

.information ul li:hover {
    box-shadow: 0 0 5px #666;
}

.information ul li:last-child {
    margin-bottom: 0;
}

.information-head {
    height: 32px;
    font-size: 16px;
    overflow: hidden;
    line-height: 32px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.l-box {
    width: 100%;
}

.l-box img {
    width: 100%;
    border: 1px solid #ededed;
}

.l-box .time {
    margin-top: 7px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}

.detail_box {
    padding: 15px;
    box-sizing: border-box;
}

.detail_box .title_detail {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #333;
}

.detail_box img {
    width: 100%;
}


.loading_box {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: #62BB82;
    color: #fff;
}

.loading_wrap {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    margin: auto;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
