<div class="information pure-g" id="productsList">
    <ul>
        {{#list}}
        <li data-id="{{id}}">
            <div class="l-box">
                <h3 class="information-head">
                  <a href="javascript:;" alt="{{title}}">{{title}}</a>
                </h3>
                <div>
                    <img src="{{pic}}">
                    <div class="time">
                        <span>2016-09-09</span>
                    </div>
                </div>
            </div>
        </li>
        {{/list}}
    </ul>
</div>

